@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Playfair+Display&display=swap');
@import url('https://www.adstellam.xyz/assets/typography/publicsans/stylesheet.css')
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'public_sansregular', Helvetica, Arial, sans-serif;
}
h1 h2 {
    font-family: 'PlayfairDisplay', 'Droid Serif', serif;
}
h3 {
    font-family: 'AmaticSC', Helvetica, Arial, sans-serif;
}
h4 h5 {
    font-family: 'PublicSans', Helvetica, Arial, sans-serif;
}

#iu45 {
    font-weight: 200;
    padding: 100px 0;
    color: #eee;
    background-image: url(../images/80ef0e6ef68a46b8954f2e4f6b0f54ed_explore-min.jpg), url(none);
    background-repeat: repeat, repeat;
    display: flex;
    align-items: center;
    background-size: auto, auto;
    background-position: left top, left top;
    text-align: left;
    background-attachment: scroll, scroll;
}

#ie4h {
    padding: 25px 0;
    background-color: rgba(255, 245, 245, 0.17);
}

#iofi {
    white-space: initial;
}

#if54 {
    font-size: 3rem;
    margin: 0 0 10px 0;
    letter-spacing: 5px;
    color: #190868;
    text-shadow: 2px 1px 10px #ffffff;
    text-transform: none;
    font-weight: 600;
}

#ihsd {
    border: 0 solid #ffffff, 238, 238);
    color: rgb(238, 238, 238) 68, 68), 238, 238);
}

.button3 {
    display: inline-block;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: center;
    opacity: 1;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: color, opacity;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(220, 101, 155);
    border-right-color: rgb(220, 101, 155);
    border-bottom-color: rgb(220, 101, 155);
    border-left-color: rgb(220, 101, 155);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #ffffff;
    border: 4px solid #540425;
    font-weight: 700;
    background-color: #540425;
    margin: 0 75px 0 75px;
}

.button3:hover {
    opacity: 0.85;
}

.button3:active {
    opacity: 0.95;
}

.header3 {
    font-weight: 200;
    min-height: 50px;
    color: rgb(238, 238, 238);
    background-color: #131313;
}

.menu-container {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.menu-link {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: inherit;
    opacity: 0.75;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    transition-duration: 0.25s;
    transition-timing-function: initial;
    transition-delay: initial;
    transition-property: opacity;
    font-weight: 400;
}

.menu-link:hover {
    opacity: 1;
}

.burger {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 45px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.burger-line {
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    background-color: white;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#ij0rp {
    padding: 0;
}

#i2a3r {
    min-height: 10px;
}

#i57dn {
    min-height: 10px;
}

#iiinm {
    min-height: 0;
    text-align: right;
}

#ihz1pd {
    font-weight: 200;
    padding: 50px 0;
    color: #444;
    background-color: #d3c298;
}

#i8l9wm {
    color: #143b45;
    font-weight: 400;
    text-transform: none;
    text-align: center;
}

#i92b1k {
    line-height: 1.5rem;
    margin-bottom: 50px;
    margin: 0 55px 50px 55px;
    font-weight: 400;
    color: #131313;
}

.gpd-button3 {
    display: inline-block;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: center;
    opacity: 1;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: color, opacity;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(220, 101, 155);
    border-right-color: rgb(220, 101, 155);
    border-bottom-color: rgb(220, 101, 155);
    border-left-color: rgb(220, 101, 155);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(220, 101, 155);
}

.gpd-button3:hover {
    opacity: 0.85;
}

.gpd-button3:active {
    opacity: 0.95;
}

#il1ph {
    color: #fff;
    border: 4px solid #ffffff;
    background-color: #000000;
}

.feature3-section {
    font-weight: 200;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    color: rgb(68, 68, 68);
    background-color: #818140;
}

.feature3 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.feature3-desc {
    line-height: 1.5rem;
    color: #131313;
    font-weight: 400;
    font-size: 1.2em;
}

.feature3-image {
    margin-bottom: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0 0 25px 0;
    height: 233.5px;
    border-radius: 100% 100% 100% 100%;
    border: 5px solid #190148;
    width: 234px;
}

#iizsg {
    padding: 25px 0;
}

#i2abq {
    margin-bottom: 30px;
}

#i0swg {
    font-weight: 400;
    margin: 19.92px 0 25px 0;
    text-align: center;
    border: 0 solid;
    color: #190148;
    text-transform: none;
    font-size: 2em;
}

#iw706 {
    color: #190148;
    font-weight: 400;
    margin: 19.92px 0 25px 0;
    text-align: center;
    font-size: 2em;
    text-transform: none;
}

#i7ov9 {
    padding: 10px 50px 10px 10px;
}

#iyc93 {
    padding: 10px 10px 10px 50px;
}

.feature4-section {
    font-weight: 200;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    color: rgb(68, 68, 68);
    background-color: #d3c298;
}

.feature4 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.feature4-desc {
    line-height: 1.4rem;
    margin: 0 0 30px 0;
    color: #131313;
    font-weight: 400;
}

#is11l {
    padding: 25px 0;
}

#iebyu {
    margin-bottom: 30px;
}

#inf9ul {
    font-size: 1.5em;
    text-align: center;
    text-transform: none;
    color: #540425;
    font-weight: 600;
}

#i8afnn {
    font-size: 1.5rem;
    color: #190148;
    text-align: center;
    text-transform: none;
    font-weight: 600;
}

#i025hk {
    font-size: 1.5em;
    color: #143b45;
    text-align: center;
    text-transform: none;
    font-weight: 600;
}

#i673md {
    color: white;
    background-color: #131313;
}

#ipenhe {
    padding: 0 0 25px 0;
}

#irim9s {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
}

#ih9sq {
    display: none;
}

#ifh1k {
    display: none;
}

#i0m3m {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 300;
}

#id2rn {
    font-size: 2rem;
    margin: 0 0 33.2px 0;
    letter-spacing: 3px;
    font-weight: 100;
    text-transform: none;
    color: #540425;
    text-shadow: 2px 1px 10px #ffffff;
}

#ikrsf {
    text-align: center;
}

#i97j6j {
    text-align: center;
}

#iqgms7 {
    text-align: center;
}

#i2x7y {
    text-align: center;
    color: #190148;
    font-size: 4em;
}

#ixx4a {
    background-color: #190148;
}

#infoh {
    color: #ffffff;
    text-align: center;
    font-size: 3em;
}

#igjfg {
    color: #fff;
    margin: 0 auto 0 50px;
    font-size: 0.8em;
    text-align: left;
}

#iddq7 {
    color: black;
}

#i979u {
    color: black;
    max-width: 80%;
    margin: 0 auto 0 50px;
}

#i8676 {
    color: black;
}

#i5kcn {
    color: black;
}

#iqrez {
    color: black;
}

#io0li {
    color: #131313;
    text-align: center;
    font-size: 4em;
}

#idpcnp {
    text-align: center;
    font-size: 3em;
    color: #190148;
}

#in7uk9 {
    font-weight: 400;
    margin: 0 65px 0 65px;
    text-align: center;
    color: #131313;
}

#i7183m {
    color: #6589A8;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    #i8l9wm {
        max-width: 100%;
    }
    #i92b1k {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    #io0li {
        font-size: 3em;
    }
}
